/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	padding: 0 .25em 0 .25em
}
ul {
	list-style: square;
	list-style-position: inside;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS reset */

* {
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
}

a{
	
	color: inherit;
	text-decoration: none;

}

a:hover{

	color: rgb(0, 72, 182);
	text-decoration: underline;

}


body{
	background-color: rgb(250, 250, 250);
}


h1{
	font-size: 2.0em;
	font-weight: 700;
	font-family: 'Overpass Mono', monospace;
	padding-bottom: .25em;
	text-align: center;
}

h2{
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'Assistant', sans-serif;
	padding-top: .25em;
	padding-bottom: .125em;
	text-align: center;
}

h3{
	font-weight: 600;
	margin-bottom: .5em;
	text-align: center;
}

header{

	padding-top: .5em;

}

img {
    max-width: 100%;
    max-height: 13em;
}

li{
	padding: .25em 0 .25em 0;
}

main{
	padding: 0 .5em .5em .5em;
}

.font-size-p75em{
	 font-size: 0.75em;
}
.snapshot-container{

	color: rgb(250, 250, 250);
	background-color: rgb(17, 17, 17);

}

.description{

	font-family: 'Assistant', sans-serif;
	font-size: .75em;
	padding-top: .25em;

}

.details{
	
	background-color: rgb(221, 221, 221);
	font-family: 'Assistant', sans-serif;
	font-size: .8em;
	margin: .5em 1em .5em 1em;
	padding-top: .5em;

}

.embed-container{

	left: 16.7%;
	position: relative;
	padding-top: 37.49625%;
	width: 66.66%;
	height: 37.49625%;

}

.embed-container iframe, .embed-container object, .embed-container embed {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.footer-social-icon-container {
	padding: .5em .5em .5em .5em;
	width: 25%;
}

.full-width-container{
	clear: both;
	width: 100%;
	background-color: rgb(181, 217, 239);
	text-align: center;
	padding: .5em .5em .5em .5em;
}

.inline-title{

	font-style: italic;
	font-weight: 400;

}

.inspiration-block{

	text-align: left;

}

.progress-bar { 
	background-color: #8b4d4e;
	height: 2em;
	width: 1%;
  }

.quote-block{
	background-color: rgb(221, 221, 221);
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
}

.recognition-block{

	background-color: rgb(210, 210, 210);
	padding: .5em .25em 1em .25em;
	text-align: left;

}

.recognition-text{

	padding: 0.125em 0.125em 0.125em 0.125em;

}


.statement-block{

	font-family: 'Assistant', sans-serif;
	padding: .75em 1em .5em 1em;
	text-align: left;

}

.stats{

	font-size: .75em;
	text-align: center;

}

.synopsis-block{

	padding: 0 .25em 1.125em .25em;
	text-align: left;

}

/* Slideshow styles */
#slides {
	background-color: black;
	height: 13em;
	position: relative;
	text-align: center;
}

.slide {
	float: left; 
	display: block;
	width: 100%;
	height: auto;
	padding: .5em .5em .5em .5em;
    z-index: 1;
}

#connect-footer-modal {
	overflow-y: auto;
	position: fixed;
	top: 3em;
	right: 0;
}
#homepage-projects-iframe {
	height: calc(100vh - 6em);
	overflow: scroll;
	top: 0;
	position: absolute;
}

#my-hidden-iframe iframe {
	display: none;
	margin: auto;
	overflow: auto;
}
#navbar-modal {
	left: 0;
	position: fixed;
	top: 3em;
}

.modal-open {
	height: 100%;
	overflow: hidden;
	width: 100%;
}


@media only screen and (min-width : 700px){

	.caption{
		float: left;
		padding: 0em .25em .25em .25em;
		width: 100%;
	}

	.details{

		background-color: rgb(221, 221, 221);
		float: right;
		font-family: 'Assistant', sans-serif;
		font-size: .8em;
		margin: 0em .5em 0em 0em;
		width: 47%;

	}

	.embed-container{

		float: left;
		left: 0;
		margin-right: 0;
		position: relative;
		padding-top: 56.25%;
		width: 100%;
		height: 56.25%;

	}

	.recognition-block{

		float: right;
		background-color: rgb(210, 210, 210);
		padding: .5em .25em 1em .25em;
		text-align: left;
		width: 100%;

	}

	.snapshot-container{

		float: left;
		width: 50%;

	}

	.statement-block{

		clear: both;
		font-family: 'Assistant', sans-serif;
		padding: .75em 1em .5em 1em;
		text-align: left;

	}

	.synopsis-block{
		float: right;
		text-align: left;
		padding: 0 .25em 1.125em .25em;
		width: 100%;
	}

}

@media only screen and (min-width : 950px){

	.caption{
		
		padding: 0em .25em .25em .25em;
		width: 100%;
	}

	.details{

		background-color: rgb(221, 221, 221);
		float: right;
		font-family: 'Assistant', sans-serif;
		font-size: .8em;
		margin: 0em .5em 0em 0em;
		width: 47%;

	}

	.embed-container{

		left: 0;
		margin-right: 0;
		position: relative;
		padding-top: 56.25%;
		width: 100%;
		height: 56.25%;

	}

	.recognition-block{

		background-color: rgb(210, 210, 210);
		padding: .5em .25em 1em .25em;
		text-align: left;
		width: 100%;

	}

	.snapshot-container{

		float: left;
		margin-right: 1em;
		margin-bottom: 1em;
		width: 50%;

	}

	.statement-block{

		display: inline;
		font-family: 'Assistant', sans-serif;
		padding: .75em 1em .5em 1em;
		text-align: left;

	}

	.synopsis-block{

		text-align: left;
		padding: 0 .25em 1.125em .25em;
		width: 100%;

	}

}