/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/*
	HTML ELEMENT STYLES
*/
* {
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
}
* {
	box-sizing: border-box;
}
body {
	background-color: rgb(250, 250, 250);
	font-size: 1em;
	line-height: 1.15 em;
}
ul {
	display: block;
	list-style: square;
	list-style-position: inside;
	text-indent: -1.4em;
}
ul li {
	margin-bottom: 0.3em;
	padding-left: 1.4em;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
	color: inherit;
	text-decoration: underline;
	text-decoration-color: rgb(0,58,204);
}
a:hover,a:focus,button:hover,button:focus{
	background-color: rgb(0,36,128) !important;
	color: rgb(255,255,255)  !important;
	text-decoration: underline;
	text-decoration-color:  rgb(255,255,255)  !important;
	cursor: pointer;
}
button, input{
	font-size: 1em;
	line-height: 1.15em;
	font-weight: 400;
	border: 2px solid rgba(0,58,204,.75);
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Overpass Mono', monospace;
	line-height: 1.15em;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
	font-family: 'Overpass Mono', monospace;
	line-height: 1.15em;
}
h3 {
	font-size: 1.25em;
	font-weight: 600;
	font-family: 'Overpass Mono', monospace;
	line-height: 1.15em;
}
.highContrastHover:hover, .highContrastHover:focus{
	background-color: rgb(250, 250, 250) !important;
	color: rgb(7, 7, 7) !important;
	text-decoration: underline;
	cursor: pointer;
}

/*
	ONE CLASS DOES ONE THING
*/
.bg-17-17-17{
	background-color: rgb(17,17,17)
}
.bg-255-255-224{
	background-color: rgb(255,255,224);
}
.bg-255-224-233{
	background-color: rgb(255,224,233);
}
.bg-255-92-143{
	background-color: rgb(255,92,143);
}
.bg-219-238-255{
	background-color: rgb(219,238,255);
}
.bg-black{
	background-color: rgb(7,7,7);
}
.bg-inherit{
	background-color: inherit;
}
.bg-white{
	background-color: rgb(250, 250, 250);
}
.bg-white-opaque{
	background-color: rgba(250, 250, 250, 0.96);
}
.bg-white-sheer{
	background-color: rgba(250, 250, 250, 0.57);
}
.border-left-p75em-solid {
	border-left: 0.75em solid;
}
.border-style-solid{
	border-style: solid;
}
.border-2px{
	border-width: 2px;
}
.border-left-0px{
	border-left-width: 0px;
}
.border-color-rgba-0-58-204-p75{
	border-color: rgba(0,58,204,.75);
}
.border-color-rgba-150-150-150-p2{
	border-color: rgba(150,150,150,.2);
}
.box-shadow{
	box-shadow: 3px 4px 2px rgba(221, 126, 192, 0.3);
}
.clear-both{
	clear: both;
}
.clear-left{
	clear: left;
}
.color-250-250-250{
	color: rgb(250,250,250);
}
.color-17-17-17{
	color: rgb(17,17,17);
}
.color-black{
	color: rgb(17, 17, 17);
}
.color-inherit{
	color: inherit;
}
.color-white{
	color: rgb(252, 252, 252);
}
.display-block{
	display: block;
}
.display-inline{
	display: inline;
}
.display-none{
	display: none;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.font-Assistant{
	font-family: 'Assistant', sans-serif;
}
.font-Overpass{
	font-family: 'Overpass Mono', monospace;
}
.font-size-p5em{
	font-size: 0.5em;
}
.font-size-p75em{
	font-size: 0.75em;
}
.font-weight-400{
	font-weight: 400;
}
.font-weight-600{
	font-weight: 600;
}
.height-auto{
	height: auto;
}
.left-0{
	left: 0;
}
.left-100pc{
	left: 0;
}
.height-1p5em{
	height: 1.5em;
}
.height-15em{
	height: 15em;
}
.height-100pc{
	height: 100%;
}
.margin-auto{
	margin: auto;
}
.margin-bottom-2em{
	margin-bottom: 2em;
}
.margin-bottom-1em{
	margin-bottom: 1em;
}
.margin-top-1em{
	margin-top: 1em;
}
.margin-top-3-em{
	margin-top: 3em;
}
.margin-top-4em{
	margin-top: 4em;
}
.max-height-12em{
	max-height: 12em;
}
.max-height-13em{
	max-height:13em;
}
.max-width-19p35em{
	max-width: 19.35em;
}
.max-width-22em{
	max-width: 22em;
}
.max-width-50em{
	max-width: 50em;
}
.max-width-56em{
	max-width: 56em;
}
.min-width-5em{
	min-width: 5em;
}
.min-width-32px{
	min-width: 32px;
}
.padding-all-p5em{
	padding: .5em .5em .5em .5em;
}
.padding-B-p25em{
	padding-bottom: 0.25em;
}
.padding-B-p5em{
	padding-bottom: 0.5em;
}
.padding-B-2em{
	padding-bottom: 2em;
}
.padding-L-p5em{
	padding-left: 0.5em;
}
.padding-R-p5em{
	padding-right: 0.5em;
}
.padding-T-2em{
	padding-top: 2em;
}
.padding-T-1em{
	padding-top: 1em;
}
.padding-T-p5em {
	padding-top: 0.5em;
}
.padding-T-4em{
	padding-top: 4em;
}
.position-fixed{
	position: fixed;
}
.position-relative{
	position: relative;
}
.text-center{
	text-align: center;
}
.text-decoration-line-none{
	text-decoration-line: none;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-shadow{
	text-shadow: 2px 2px 2px rgba(221, 126, 192, 0.1);
}
.top-2p75-em{
	top: 2.75em;
}
.top-4-em{
	top: 4em;
}
.width-auto{
	width: auto;
}
.width-10pc{
	width: 10%;
}
.width-5pc{
	width: 5%;
}
.width-6p5em{
	width: 6.5em;
}
.width-14p5em{
	width: 14.5em;
}
.width-33pc{
	width: 33%;
}
.width-50pc{
	width: 50%;
}
.width-80pc{
	width: 80%;
}
.width-95pc{
	width: 95%;
}
.width-100pc{
	width: 100%;
}
.width-100pc-important{
	width: 100% !important;
}
.z1{
	z-index: 1;
}
.z2{
	z-index: 2;
}

/*
	RESPONSIVE CSS
*/
.responsive-main{
	width: 100%;
	padding: 0em 1.5em 0em 1.5em;
}

/*

*/
.video-embed-container{
	left: 16.7%;
	position: relative;
	padding-top: 37.49625%;
	width: 66.66%;
	height: 37.49625%;
}

.video-embed-container iframe, .video-embed-container object, .video-embed-container embed {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

}

.footer-social-icon-container {
	padding: .5em .5em .5em .5em;
	width: 25%;
}

.progress-bar { 
	background-color: #8b4d4e;
	height: 2em;
	width: 1%;
}

#connect-footer-modal {
	overflow-y: auto;
	position: fixed;
	top: 3em;
	right: 0;
}
#homepage-projects-iframe {
	height: calc(100vh - 6em);
	overflow: scroll;
	top: 0;
	position: absolute;
}

#my-hidden-iframe iframe {
	display: none;
	margin: auto;
	overflow: auto;
}
#navbar-modal {
	left: 0;
	position: fixed;
	top: 3em;
}

.modal-open {
	height: 100%;
	overflow: hidden;
	width: 100%;
}


@media only screen and (min-width : 800px){

	.floating-lefthand-container{
		float: left;
		width: 50%;

	}
	.floating-righthand-container{
		float: right;
		padding-left: 0.5em;
		width: 50%;
	}
	.video-embed-container{
		float: left;
		left: 0;
		margin-right: 0;
		position: relative;
		padding-top: 56.25%;
		height: 56.25%;
		width: 100%;
	}


}

@media only screen and (min-width : 930px){

	.floating-lefthand-container{
		float: left;
		width: 50%;
	}
	.floating-righthand-container{
		float: right;
		padding-left: 0.5em;
		width: 50%;
	}
	.responsive-main{
		width: 100%;
		padding-left: 10%;
		padding-right: 1em;
	}
	.sticky-header{
		position: fixed;
		left: 0px;
	}
	.video-embed-container{
		left: 0;
		margin-right: 0;
		position: relative;
		padding-top: 56.25%;
		height: 56.25%;
		width: 100%;
	}

}