
/*=========================================================================
COLOR SCHEME: http://paletton.com/#uid=35-0U0kpUjKgZsrlQnEuIeYFg9F
=========================================================================*/


/*=========================================================================
NECESSARY FOR i-frames/modals to work
=========================================================================*/

#connect-footer-modal {
	overflow-y: auto;
	position: fixed;
	right: -23em;
}
#homepage-projects-iframe {
	height: calc(100vh - 6em);
	overflow: scroll;
	top: 0;
	position: absolute;
}
#homepage-projects-modal {
	height: calc(100vh - 5.5em);
	bottom: -100%;
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#my-hidden-iframe iframe {
	display: none;
	margin: auto;
	overflow: auto;
}
#navbar-modal {
	left: -23em;
	position: fixed;
}

/*=========================================================================
TO TIGHTEN UP
=========================================================================*/

a.anchor {
	display: block;
	position: relative;
	top: -1.5em;
	visibility: hidden;
}
.modal-open {
	height: 100%;
	overflow: hidden;
	width: 100%;
}
input {
	float: right;
	width: 14.5em;
}
label {
	float: left;
	clear: left;
	width: 6.5em;
	text-align: right;
}
textarea {
	display: inline-block;
	float: right;
	width: 14.5em;
}
#about-me-divider {
	border-bottom: .05em rgb(0, 36, 91) solid;
	border-top: .05em rgb(0, 36, 91) solid;
	display: block;
	margin: auto;
	padding-bottom: 1.5em;
	width: 14em;
}
#connect-modal-close-trigger {
	padding-right: .5em;
}
#footer-contact-form-container {
	margin: auto;
	width: 80%;
}
#footer-social-container {
	margin: auto;
	width: 80%;
}
#homepage-project-details-modal-footer {
	padding: .5em .5em .5em .5em;
	position: fixed;
	bottom: -100%;
	z-index: 2;
}
#homepage-project-details-modal-trigger {
	height: 2em;
}
#navbar-modal-close-trigger {
	padding-left: .5em;
}
#navbar-text-container {
	border-left: .5em solid;
	padding: .5em 1em 0em .25em;
}
#sticky-header {
	padding: 1em .15em 1em .15em;
	position: fixed;
	top: 0;
}

/*=========================================================================
ONE CLASS DOES ONE THING
=========================================================================*/

.bg-brown {
	background-color: rgb(3, 23, 51);
}
.bg-gray {
	background-color: rgb(227, 227, 227);
}
.bg-green {
	background-color: rgb(190, 189, 59);
}
.bg-pink {
	background-color: rgb(218, 139, 148);
}
.bg-red {
	background-color: rgb(117, 3, 16);
}
.border-none {
	border: none;
}
.display-none {
	display: none;
}
.margin-auto {
	margin: auto;
}
.padding-0p5-0p5-0p5-1p5em {
	padding: 0.5em 0.5em 0.5em 1.5em;
}
.padding-left-p5em {
	padding-left: .5em;
}
.padding-top-5em {
	padding-top: .5em;
}
.padding-top-1p5em {
	padding-top: 1.5em;
}

/*=========================================================================
MY NEW CLASSES
===========================================================================*/

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */
	padding-top: 25px;
	width: 60%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.footer-social-icon-label {
	font-size: .50em;
	font-weight: 400;
}
.homepage-goals-header {
	padding: 3.5em 0em 1em 0em;
}
.homepage-project-description-title {
	border-left: 1em double;
}
.homepage-section-header {
	padding: 3.5em 0em 1em 0em;
}
.navbar-individual-link-container {
	border-left: .15em solid;
}
.navbar-link {
	border-left: 0.1em solid;
	padding: .25em 0em .25em .25em;
	text-decoration: none;
}
.navbar-link-bottom {
	border-left: 0.1em solid;
	padding: .5em 0em 0em .25em;
	text-decoration: none;
}

/*=========================================================================
Responsive portions
===========================================================================*/

.footer-social-icon-container {
	padding: .5em .5em .5em .5em;
	width: 25%;
}
.homepage-project-container {
	width: 100%;
	padding: 0em 0em 1em 0em;
}
.homepage-highlight-project-container {
	width: 100%;
	padding: 0em 0em 1em 0em;
}
.homepage-highlight-project-icon {
	height: auto;
	margin: auto;
	width: 50%;
}
.homepage-project-icon {
	height: auto;
	margin: auto;
	width: 50%;
}

.project-container-doublewidth{
	width: 100%;
	padding: 0em 0em 1em 0em;
}

@media only screen and (min-width: 620px) {
	.homepage-project-icon {
		height: auto;
		margin: auto;
		width: 50%;
	}
	.homepage-project-container {
		height: 18em;
		width: 50%;
		padding: 0em 0em .5em 0em;
	}
	.homepage-project-description-title {
		border-left: 1em double;
		padding: 0em .5em 0em .5em;
		margin-bottom: .5em;
	}
	.homepage-highlight-project-icon {
		height: auto;
		margin: auto;
		width: 50%;
	}
	.project-container-doublewidth{
		height: 18em;
		width: 100%;
		padding: 0em 0em 1em 0em;
	}
}
@media only screen and (min-width: 764px) {
	.homepage-highlight-project-icon-container {
		margin: auto;
		width: 50%;
		height: auto;
	}
	.homepage-project-container {
		height: 20em;
		width: 33%;
		padding: 0em 0em .5em 0em;
	}
	.homepage-project-description-title {
		border-left: 1em double;
		margin-bottom: .5em;
	}
	.homepage-project-icon {
		height: auto;
		margin: auto;
		width: 60%;
	}
	.homepage-section-header {
		clear: both;
		float: left;
		width: 33%;
		text-align: center;
	}
	.project-container-doublewidth{
		height: 20em;
		width: 66%;
		padding: 0em 0em 1em 0em;
	}
}
