* {
	box-sizing: border-box;
	font-family: 'Assistant', sans-serif;
}

a{
	
	color: inherit;

}

a.anchor {
    
    display: block;
    position: relative;
    top: -1.5em;
    visibility: hidden;

}

body{
	background-color: rgb(250, 250, 250);
}

body.modal-open {
    overflow: hidden;
}

footer{

	font-family: 'Overpass Mono', monospace;

}

header{

	font-family: 'Overpass Mono', monospace;

}

h1{
	font-size: 3em;
	font-weight: 8700;
	font-family: 'Overpass Mono', monospace;
}

h2{
	font-size: 2.0em;
	font-weight: 700;
	font-family: 'Overpass Mono', monospace;
}

h3{
	font-size: 1.5em;
	font-weight: 600;
	font-family: 'Overpass Mono', monospace;
}

h4 {

	font-weight: 600;

}

#connect-modal-close-trigger{

	padding-top: 1.5em;
	padding-right: .5em;
	text-align: right;

}

#connect-footer-modal{

	background-color: rgb(250, 250, 250);
	height: 100%;
	right: -110%;
	position: fixed;
	top: 2.5em;
	width: 100%;
	z-index: 1;

}

#footer-contact-form-container{

	display: block;
	clear: both;
	margin: auto;
	width: 100%;

}

#footer-social-container {

	display: block;
	margin: auto;
	width: 80%;

}

#homepage-header{

	animation-name: pulse;
	animation-duration: 20s;
	animation-delay: 2s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	margin-top: 3em;
	padding: 4em 1em 6em 1em;
	text-align: center;

}

#homepage-header-text{
	color: rgb(236, 236, 236);

}

#homepage-project-container-After {

	color: rgb(236, 236, 236);
	background-color: rgb(201, 20, 44);

}

#homepage-project-container-Bodega {

	color: rgb(17, 17, 17);
	background-color: rgb(199, 235, 252);

}

#homepage-project-container-Breakfast {

	color: rgb(236, 236, 236);
	background-color: rgb(17, 17, 17);

}

#homepage-project-container-Busan {

	color: rgb(17, 17, 17);
	background-color: rgb(199, 235, 252);
}

#homepage-project-container-Yuca {

	color: rgb(236, 236, 236);
	background-color: rgb(91, 56, 31);

}

#my-hidden-iframe iframe {
   
   display: none;
   margin: 0 auto; 
   overflow: auto;

}

#navbar-modal{

	background-color: rgb(250, 250, 250);
	height: 100%;
	left: -110%;
	position: fixed;
	top: 2.5em;
	width: 100%;
	z-index: 1;

}

#navbar-modal-trigger{

	float: left;

}

#navbar-modal-close-trigger{

	padding-top: 1.5em;
	padding-left: .5em;

}

#navbar-text-container{

	border-left: .5em solid;
	padding:.5em 1em 0em .25em;

}

#sticky-header{

	background-color: rgb(250, 250, 250);
	padding: 1em .5em 1em .5em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

}

#sticky-header-righthand-container{

	float: right;
	width: 8em;

}

#sticky-header-righthand-leftmost-text{

	float: left;
	padding-right: 1em;

}

#sticky-header-righthand-righttmost-text{

	float:right;
	padding-right: .5em;

}

.footer-social-icon {
	
	display: block;
	margin: auto;
	width: 100%;
	
}

.footer-social-icon-container {
	
	float: left;
	padding: .5em .5em .5em .5em;
	text-align: center;
	width: 25%;
	
}

.footer-social-icon-label{

	font-size: .50em;
	font-weight: 400;

}

.header-nav-link{

	text-decoration: none;

}

.homepage-project-container {

	width: 100%;
	padding: 0em 0em 1em 0em;

}

.homepage-project-description{

	border-left: 1em double;
	color: inherit;
	padding: 0em 1em 0em 2em;
	text-align: left;
	

}

.homepage-project-description-title{

	padding-bottom: .5em;

}

.homepage-project-icon {
	
	display: block;
	height: auto;
	margin: auto;
	width: 50%;
	
}

.homepage-section-header{

	background-color: rgb(250, 250, 250);
	padding: 3.5em 0em 1em 0em;
	text-align: center;

}

.navbar-individual-link-container{

	border-left: .15em solid;
	
}

.navbar-link{
	
	border-left: 0.1em solid;
	display: block;
	padding: .25em 0em .25em .25em;
	text-decoration: none;

}

.navbar-link-bottom{
	
	border-left: 0.1em solid;
	display: block;
	padding: .5em 0em 0em .25em;
	text-decoration: none;

}


@keyframes pulse {
  0% {
    background-color: rgb(255, 255, 255);
  }
  10% {
	background-color: rgb(17, 17, 17);
  }
  20% {
    background-color: rgb(148, 153, 22);
  }
  30%{
	background-color: rgb(17, 17, 17);
  }
  40% {
  	background-color: rgb(14, 132, 98);
  }
  50%{
	background-color: rgb(17, 17, 17);
  }
  60%{
	background-color: rgb(22, 74, 153);
  }
  70%{
	background-color: rgb(17, 17, 17);
  }
  80%{
	background-color: rgb(153, 22, 98);
  }
  90%{
	background-color: rgb(17, 17, 17);
  }
  100% {
  	background-color: rgb(153, 22, 22);
  }
}

