* {
	box-sizing: border-box;
	
}

a.anchor {
    
    display: block;
    position: relative;
    top: -1.5em;
    visibility: hidden;

}


.modal-open{
    
	height: 100%;
 	overflow: hidden;
	width: 100%;
	
}



input {
  display: inline-block;
  float: right;
  width: 14.5em;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 6.5em;
    text-align: right;
}

textarea{
	display: inline-block;
	float: right;
	width: 14.5em;
}

#about-me-divider{

	border-bottom: .05em rgb(0, 36, 91) solid;
	border-top: .05em rgb(0, 36, 91) solid;
	display: block;
	margin: auto;
	padding-bottom: 1.5em;
	width: 14em;

}

#connect-modal-close-trigger{

	clear: both;
	padding-right: .5em;
	text-align: right;

}

.padding-top-5em{
	padding-top: .5em;
}

.padding-top-1p5em{
	padding-top: 1.5em;
}

#connect-footer-modal{
	height: 100%;
	overflow-y:auto;
	display: block;
	position: fixed;
	right: -110%;
	top: 2.5em;
	width: 100%;
	z-index: 1;

}

#footer-contact-form-container{
	display: block;
	margin: auto;
	width: 80%;
	
}

#footer-social-container {

	display: block;
	margin: auto;
	width: 80%;

}

#homepage-header{

	background: linear-gradient(180deg, rgb(0, 36, 91), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(0, 36, 91));
	background-size: 1200% 1800%;

	animation: gradient-scroll 10s cubic-bezier(.13,.43,.76,.35) infinite normal forwards;
	
	margin-top: 3em;
	padding: 5em 1em 5em 1em;
	width: 100%;

}

#homepage-project-details-modal-footer{

	padding: .5em .5em .5em .5em;
	position: fixed;
	bottom: -100%;
	width: 100%;
	z-index: 2;
}

#homepage-project-details-modal-trigger{

	height: 2em;
}


#homepage-project-new-window-trigger{

	float: right;
	font-family: 'Overpass Mono', monospace;

}

#homepage-projects-iframe{

	width: 100%;
	height: calc(100vh - 6em);
	overflow: scroll;
	top: 0;
	position: absolute;

}

#homepage-projects-modal{

	height: calc(100vh - 5.5em);
	bottom: -100%;
	position: fixed;
	width: 100%;
	z-index: 1;
	overflow:auto;
	-webkit-overflow-scrolling:touch;


}

#homepage-section-highlights{

	display: block;

}

#my-hidden-iframe iframe {
   
   display: none;
   margin: 0 auto; 
   overflow: auto;

}

#navbar-modal{

	height: 100%;
	left: -110%;
	position: fixed;
	top: 2.5em;
	overflow-y: auto;
	width: 100%;
	z-index: 1;

}

#navbar-modal-close-trigger{
	padding-left: .5em;

}

#navbar-text-container{

	border-left: .5em solid;
	padding:.5em 1em 0em .25em;

}

#social-determinants-def{

	background: linear-gradient(180deg, rgb(0, 36, 91), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(17, 17, 17), rgb(0, 36, 91), rgb(0, 36, 91));
	background-size: 1200% 1800%;

	-webkit-animation: gradient-scroll-reverse 10s cubic-bezier(.13,.43,.76,.35) infinite normal forwards;
	-moz-animation: gradient-scroll-reverse 10s cubic-bezier(.13,.43,.76,.35) infinite normal forwards;
	-o-animation: gradient-scroll-reverse 10s cubic-bezier(.13,.43,.76,.35) infinite normal forwards;
	animation: gradient-scroll-reverse 10s cubic-bezier(.13,.43,.76,.35) infinite normal forwards;

}

#sticky-header{

	padding: 1em .15em 1em .15em;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

}

.JS-link:hover{

	color: rgb(0, 72, 182);
	text-decoration: underline;	

}

.display-none{

	display: none;
}

.embed-container{

	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	width: 60%;

}

.embed-container iframe, .embed-container object, .embed-container embed {

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.footer-social-icon {
	
	display: block;
	margin: auto;
	width: 100%;
	
}

.footer-social-icon-container {
	
	padding: .5em .5em .5em .5em;
	width: 25%;
	
}

.footer-social-icon-label{

	font-size: .50em;
	font-weight: 400;

}


.homepage-project-container {

	width: 100%;
	padding: 0em 0em 1em 0em;

}

.homepage-goals-header{
	
		padding: 3.5em 0em 1em 0em;
		text-align: center;
	
}

.homepage-highlight-project-container{

	width: 100%;
	padding: 0em 0em 1em 0em;

}

.homepage-highlight-project-icon{

	display: block;
	height: auto;
	margin: auto;
	width: 50%;

}

.homepage-project-description{

	border-left: 1em double;
	color: inherit;
	padding: 0em 1em 0em 2em;
	text-align: left;
	

}

.homepage-project-description-title{

	padding-bottom: .5em;

}

.homepage-project-icon {
	
	display: block;
	height: auto;
	margin: auto;
	width: 50%;
	
}

.homepage-section-header{

	padding: 3.5em 0em 1em 0em;


}

.navbar-individual-link-container{

	border-left: .15em solid;
	
}

.navbar-link{
	
	border-left: 0.1em solid;
	display: block;
	padding: .25em 0em .25em .25em;
	text-decoration: none;

}

.navbar-link-bottom{
	
	border-left: 0.1em solid;
	display: block;
	padding: .5em 0em 0em .25em;
	text-decoration: none;

}

.pull-quote{

	background-color: rgb(17, 17, 17);
	color: rgb(250, 250, 250);
	line-height: 1.5em;
	padding: 1em .5em 1em .5em;
	text-align: center;

}



@keyframes gradient-scroll { 
    0%{background-position:50% 0%}
    100%{background-position:50% 100%}
}


@keyframes gradient-scroll-reverse { 
    0%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@media only screen and (min-width : 620px){
	#connect-footer-modal{
		width: 66%;
	}

	#navbar-modal{
		width: 50%;
	}

	.homepage-section{
		clear: both;
	}

	.homepage-project-icon {
		
		display: block;
		height: auto;
		margin: auto;
		width: 50%;	
	}

	.homepage-project-container{
		
		height: 18em;
		width: 50%;
		padding: 0em 0em .5em 0em;

	}

	.homepage-project-description-title{

		border-left: 1em double;
		padding: 0em .5em 0em .5em;
		margin-bottom: .5em;

	}

	.homepage-highlight-project-icon{
		
		display: block;
		height: auto;
		margin: auto;
		width: 50%;
		
	}

	.homepage-project-description{
			border: none;
			color: inherit;
			padding: 0em 1em 0em 1em;
			text-align: left;
		
	}
}

@media only screen and (min-width : 764px){
	
		#connect-footer-modal{
			width: 66%;
		}

		#navbar-modal{
			width: 50%;
		}

		.homepage-section{
			clear: both;
		}

		.homepage-highlight-project-icon-container{
			
			display: block;
			margin: auto;
			width: 50%;
			height: auto;
			
		}

		.homepage-project-container{
			
				height: 20em;
				width: 33.3%;
				padding: 0em 0em .5em 0em;
			
		}

		.homepage-project-description{
			border: none;
			color: inherit;
			padding: 0em .4em 0em .4em;
			text-align: left;
		
		}

		.homepage-project-description-title{
			
			border-left: 1em double;
			padding: 0em .4em 0em .4em;
			margin-bottom: .5em;
	
		}
	
		.homepage-project-icon {
			
			display: block;
			height: auto;
			margin: auto;
			width: 60%;
			
		}

		.homepage-section-header{

			clear: both;
			float: left;
			width: 33.3%;
			text-align: center;

		}
	}